.category-page-container {
    min-height: 90vh;
    overflow: hidden;
}

.category-banner-container {
    height: 100px;
    background-color: #d3b062;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}